/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Layout */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

#main-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#lesson-sidebar {
    max-width: 200px;
}

h2, h3 {
    color: #007bff;
    margin-bottom: 10px;
}

.category {
    margin-bottom: 20px;
}

.lesson-list {
    list-style-type: none;
    background-color: #ffffff;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lesson-list li {
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    transition: background-color 0.3s;
}

.lesson-list li:last-child {
    border-bottom: none;
}

.lesson-list li:hover {
    background-color: #f0f8ff;
}

.lesson-list li a {
    text-decoration: none;
    color: #333;
}

#lesson-content {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#lesson-title {
    margin-bottom: 15px;
    font-size: 1.5rem;
}



/* Footer Styling */
h1 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: auto;
    padding-top: 20px;
    color: #333;
}

h1 a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

h1 a:hover {
    text-decoration: underline;
    color: #0056b3;
}
#exercises-sidebar {
    max-width: 200px;
}

.exercises-list {
    list-style-type: none;
    background-color: #ffffff;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.exercises-list li {
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    transition: background-color 0.3s;
}

.exercises-list li:last-child {
    border-bottom: none;
}

.exercises-list li:hover {
    background-color: #f0f8ff;
}

.exercises-list li a {
    text-decoration: none;
    color: #333;
}

#exercises-content {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}